extends layout

block content
  .row
    .col-2
      .pb-2.mt-2.mb-4
        h3 Dashboard
    .col-10.text-right
      form(action='/form/create', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-primary Create Form

  each form in forms
    .card.mt-6.shadow
      .card-body
        .row
          .col-9
            h3.font-weight-bold.mr-3
              = form.name ? form.name : 'Untitled Form'
          .col-3.my-auto.text-right
            a(href='/form/' + form.id)
              button.btn.btn-primary.btn-sm
                i.fas.fa-pencil-alt.mr-3
                | View